In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'2.0.20'

In [3]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy.schema import Table, Column, ForeignKey
from sqlalchemy.types import Integer, Text
from sqlalchemy.sql import select, insert, update, delete, join, func

In [4]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [42]:
print(engine)

Engine(sqlite:///:memory:)

In [5]:
# cur.excute/many/script
con = engine.connect()

In [6]:
con.execute('SELECT 1')

ObjectNotExecutableError: Not an executable object: 'SELECT 1'

In [7]:
meta = MetaData()

In [8]:
meta.tables

FacadeDict({})

In [9]:
Table('USER', meta,
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False))

Table('USER', MetaData(), Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False), Column('NAME', Text(), table=<USER>, nullable=False), schema=None)

In [10]:
len(meta.tables)

1

In [11]:
User = meta.tables['USER']

In [12]:
print(User.insert())

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)

In [13]:
meta.create_all(engine) #engine보고 일해라고 하는거임.

2023-09-06 09:45:45,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 09:45:45,401 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 09:45:45,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:45:45,401 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("USER")
2023-09-06 09:45:45,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:45:45,406 INFO sqlalchemy.engine.Engine
CREATE TABLE "USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 09:45:45,406 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2023-09-06 09:45:45,408 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
dir(User.select()) #여기 있는애들이 다 sql문으로 바뀔 수 있는 애들이다. 명령문들

['__annotations__',
 '__bool__',
 '__class__',
 '__class_getitem__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__orig_bases__',
 '__parameters__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__visit_name__',
 '__weakref__',
 '_add_context_option',
 '_all_selected_columns',
 '_annotate',
 '_annotations',
 '_annotations_cache_key',
 '_assert_no_memoizations',
 '_attributes',
 '_auto_correlate',
 '_cache_key_traversal',
 '_clone',
 '_clone_annotations_traverse_internals',
 '_cloned_set',
 '_compile_options',
 '_compile_state_factory',
 '_compile_state_plugin',
 '_compile_w_cache',
 '_compiler',
 '_compiler_dispatch',
 '_constructor',
 '_copy_internals',
 '_correlate',
 '_correlate_except',
 '_create_raw_select',
 '_de_clone',
 '_deannotate',
 '_distinct',
 '_distinct_on',
 '_effective_plugin_target',
 '_ensure_disambiguated_names',
 '_executable_traverse_internals',
 '_execute_on_connection',
 '_execute_on_scalar',
 '_execution_options',
 '_fetch_clause',
 '_fetch_clause_options',
 '_filter_by_zero',
 '_for_update_arg',
 '_from_obj',
 '_from_objects',
 '_gen_annotations_cache_key',
 '_gen_cache_key',
 '_gen_static_annotations_cache_key',
 '_generate',
 '_generate_cache_attrs',
 '_generate_cache_key',
 '_generate_cache_key_for_object',
 '_generate_columns_plus_names',
 '_generate_compiler_dispatch',
 '_generate_fromclause_column_proxies',
 '_get_embedded_bindparams',
 '_group_by_clause',
 '_group_by_clauses',
 '_has_ctes_traverse_internals',
 '_has_hints_traverse_internals',
 '_has_prefixes_traverse_internals',
 '_has_row_limiting_clause',
 '_has_suffixes_traverse_internals',
 '_having_criteria',
 '_hierarchy_supports_caching',
 '_hints',
 '_implicit_subquery',
 '_independent_ctes',
 '_independent_ctes_opts',
 '_is_bind_parameter',
 '_is_clause_list',
 '_is_clone_of',
 '_is_column_element',
 '_is_default_generator',
 '_is_from_clause',
 '_is_from_container',
 '_is_has_cache_key',
 '_is_immutable',
 '_is_keyed_column_element',
 '_is_lambda_element',
 '_is_lateral',
 '_is_protocol',
 '_is_returns_rows',
 '_is_select_base',
 '_is_select_container',
 '_is_select_statement',
 '_is_singleton_constant',
 '_is_star',
 '_is_table',
 '_is_text_clause',
 '_is_textual',
 '_iterate_from_elements',
 '_label_style',
 '_limit',
 '_limit_clause',
 '_memoized_keys',
 '_memoized_select_entities',
 '_needs_parens_for_grouping',
 '_negate',
 '_negate_in_binary',
 '_offset',
 '_offset_clause',
 '_offset_or_limit_clause',
 '_offset_or_limit_clause_asint',
 '_order_by_clause',
 '_order_by_clauses',
 '_order_by_label_element',
 '_original_compiler_dispatch',
 '_prefixes',
 '_propagate_attrs',
 '_raw_columns',
 '_refresh_for_new_column',
 '_replace_params',
 '_reset_memoizations',
 '_role_name',
 '_scalar_type',
 '_set_compile_options',
 '_set_entities',
 '_set_memoized_attribute',
 '_set_propagate_attrs',
 '_setup_joins',
 '_simple_int_clause',
 '_statement_hints',
 '_suffixes',
 '_traverse_internals',
 '_ungroup',
 '_update_compile_options',
 '_where_criteria',
 '_whereclause',
 '_with_annotations',
 '_with_binary_element_type',
 '_with_context_options',
 '_with_hint',
 '_with_options',
 'add_columns',
 'add_cte',
 'alias',
 'allows_lambda',
 'as_scalar',
 'c',
 'column',
 'column_descriptions',
 'columns',
 'columns_clause_froms',
 'compare',
 'compile',
 'correlate',
 'correlate_except',
 'corresponding_column',
 'cte',
 'description',
 'distinct',
 'entity_namespace',
 'except_',
 'except_all',
 'execution_options',
 'exists',
 'exported_columns',
 'fetch',
 'filter',
 'filter_by',
 'from_statement',
 'froms',
 'get_children',
 'get_execution_options',
 'get_final_froms',
 'get_label_style',
 'group_by',
 'having',
 'inherit_cache',
 'inner_columns',
 'intersect',
 'intersect_all',
 'is_clause_element',
 'is_delete',
 'is_derived_from',
 'is_dml',
 'is_insert',
 'is_select',
 'is_selectable',
 'is_text',
 'is_update',
 'join',
 'join_from',
 'label',
 'lateral',
 'limit',
 'memoized_attribute',
 'memoized_instancemethod',
 'offset',
 'options',
 'order_by',
 'outerjoin',
 'outerjoin_from',
 'params',
 'prefix_with',
 'reduce_columns',
 'replace_selectable',
 'scalar_subquery',
 'select',
 'select_from',
 'selectable',
 'selected_columns',
 'self_group',
 'set_label_style',
 'slice',
 'stringify_dialect',
 'subquery',
 'suffix_with',
 'supports_execution',
 'union',
 'union_all',
 'unique_params',
 'uses_inspection',
 'where',
 'whereclause',
 'with_for_update',
 'with_hint',
 'with_only_columns',
 'with_statement_hint']

In [15]:
print(User.insert().values(PK=1, NAME='아무개'))

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)

In [16]:
print(User.insert())

INSERT INTO "USER" ("PK", "NAME") VALUES (:PK, :NAME)

In [17]:
print(User.insert().values(PK=1, NAME='아무개').compile().params)

{'PK': 1, 'NAME': '아무개'}

In [18]:
con.execute(User.insert().values(PK=1, NAME='아무개'))

2023-09-06 09:46:17,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 09:46:17,392 INFO sqlalchemy.engine.Engine INSERT INTO "USER" ("PK", "NAME") VALUES (?, ?)
2023-09-06 09:46:17,393 INFO sqlalchemy.engine.Engine [generated in 0.00159s] (1, '아무개')

In [19]:
con.execute(User.select()).fetchall()

2023-09-06 09:46:21,583 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
2023-09-06 09:46:21,584 INFO sqlalchemy.engine.Engine [generated in 0.00108s] ()

[(1, '아무개')]

In [20]:
type(con.execute(User.select()))

2023-09-06 09:46:27,477 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
2023-09-06 09:46:27,477 INFO sqlalchemy.engine.Engine [cached since 5.903s ago] ()

sqlalchemy.engine.cursor.CursorResult

In [21]:
Table('ADDRESS',meta,
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      Column('FK', Integer, ForeignKey('USER.PK')))

Table('ADDRESS', MetaData(), Column('PK', Integer(), table=<ADDRESS>, primary_key=True, nullable=False), Column('NAME', Text(), table=<ADDRESS>), Column('FK', Integer(), ForeignKey('USER.PK'), table=<ADDRESS>), schema=None)

In [22]:
User.columns.keys()

['PK', 'NAME']

In [23]:
User.columns['PK']

Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False)

In [24]:
meta.create_all(engine)

2023-09-06 09:46:47,832 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADDRESS")
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("ADDRESS")
2023-09-06 09:46:47,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:46:47,848 INFO sqlalchemy.engine.Engine
CREATE TABLE "ADDRESS" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "USER" ("PK")
)


2023-09-06 09:46:47,849 INFO sqlalchemy.engine.Engine [no key 0.00108s] ()
2023-09-06 09:46:47,849 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
Table('TEMP',meta,
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text),
      Column('FK', Integer, nullable=False))

Table('TEMP', MetaData(), Column('PK', Integer(), table=<TEMP>, primary_key=True, nullable=False), Column('NAME', Text(), table=<TEMP>), Column('FK', Integer(), table=<TEMP>, nullable=False), schema=None)

In [26]:
User.columns['PK']

Column('PK', Integer(), table=<USER>, primary_key=True, nullable=False)

In [27]:
meta.create_all(engine)

2023-09-06 09:47:00,435 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 09:47:00,435 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("USER")
2023-09-06 09:47:00,439 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:47:00,439 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("ADDRESS")
2023-09-06 09:47:00,440 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:47:00,442 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("TEMP")
2023-09-06 09:47:00,442 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:47:00,443 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("TEMP")
2023-09-06 09:47:00,444 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 09:47:00,445 INFO sqlalchemy.engine.Engine
CREATE TABLE "TEMP" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT,
	"FK" INTEGER NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 09:47:00,446 INFO sqlalchemy.engine.Engine [no key 0.00048s] ()
2023-09-06 09:47:00,446 INFO sqlalchemy.engine.Engine COMMIT

In [28]:
con.execute(
    meta.tables['ADDRESS'].insert().values(PK=1, NAME='주소', FK=1)
)

2023-09-06 09:47:06,363 INFO sqlalchemy.engine.Engine INSERT INTO "ADDRESS" ("PK", "NAME", "FK") VALUES (?, ?, ?)
2023-09-06 09:47:06,363 INFO sqlalchemy.engine.Engine [generated in 0.00093s] (1, '주소', 1)

In [29]:
con.execute(
    meta.tables['TEMP'].insert().values(PK=1, NAME='가짜', FK=1)
)

2023-09-06 09:47:10,463 INFO sqlalchemy.engine.Engine INSERT INTO "TEMP" ("PK", "NAME", "FK") VALUES (?, ?, ?)
2023-09-06 09:47:10,463 INFO sqlalchemy.engine.Engine [generated in 0.00089s] (1, '가짜', 1)

In [30]:
#위 둘의 차이는 FK를 줬냐 안줬냐의 차이이다.

In [31]:
con.execute(select(meta.tables['USER'],
                  meta.tables['ADDRESS'],
                  meta.tables['TEMP'])).fetchall()

2023-09-06 09:56:19,573 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME", "ADDRESS"."PK" AS "PK_1", "ADDRESS"."NAME" AS "NAME_1", "ADDRESS"."FK", "TEMP"."PK" AS "PK_2", "TEMP"."NAME" AS "NAME_2", "TEMP"."FK" AS "FK_1"
FROM "USER", "ADDRESS", "TEMP"
2023-09-06 09:56:19,574 INFO sqlalchemy.engine.Engine [generated in 0.00077s] ()

C:\Users\user\AppData\Local\Temp\ipykernel_17832\552171212.py:1: SAWarning: SELECT statement has a cartesian product between FROM element(s) "TEMP", "ADDRESS" and FROM element "USER".  Apply join condition(s) between each element to resolve.
  con.execute(select(meta.tables['USER'],

[(1, '아무개', 1, '주소', 1, 1, '가짜', 1)]

In [41]:
con.execute(select(meta.tables['USER'].columns['PK'],
                  meta.tables['USER'].c.NAME)).fetchall()

2023-09-06 10:05:51,828 INFO sqlalchemy.engine.Engine SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
2023-09-06 10:05:51,830 INFO sqlalchemy.engine.Engine [generated in 0.00252s] ()

[(1, '아무개')]

In [33]:
USER = meta.tables['USER']
ADDRESS = meta.tables['ADDRESS']
TEMP = meta.tables['TEMP']

In [34]:
print(USER.select().where(USER.c.PK == 1))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."PK" = :PK_1

In [35]:
print(USER.c.PK == TEMP.c.FK) #조인구문 확인할 때 좀 더 편하게 확인 가능

"USER"."PK" = "TEMP"."FK"

In [40]:
print(USER.join(ADDRESS))

"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [37]:
print(USER.join(TEMP, USER.c.PK == TEMP.c.FK))

"USER" JOIN "TEMP" ON "USER"."PK" = "TEMP"."FK"

In [43]:
#or and 해보기

In [45]:
from sqlalchemy.sql import or_, and_, between

In [46]:
print(or_(USER.c.PK == 1, USER.c.PK == 2))

"USER"."PK" = :PK_1 OR "USER"."PK" = :PK_2

In [47]:
print(USER.c.NAME.like('%어쩌고%'))

"USER"."NAME" LIKE :NAME_1

In [50]:
print(USER.select().where(USER.c.NAME.like('%어쩌고%')).\
     group_by(USER.c.PK).order_by(USER.c.PK))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER"
WHERE "USER"."NAME" LIKE :NAME_1 GROUP BY "USER"."PK" ORDER BY "USER"."PK"

In [51]:
#파이썬의 장점이자 단점이기도 한... 함수를 계속 엮어서 하는거...

In [ ]:
#이런 표현도 가능하다. 괄호로 논리연산자를 사용할수 있다.

In [53]:
print((USER.c.NAME =='abcd') & (USER.c.PK ==1) | (USER.c.PK==2))

"USER"."NAME" = :NAME_1 AND "USER"."PK" = :PK_1 OR "USER"."PK" = :PK_2

In [54]:
#SELECT FROM

In [55]:
print(USER.join(ADDRESS)) #이게 어디서 나오냐면, select 할때 from 뒤에 나와야한다.

"USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [56]:
print(select().select_from(USER.join(ADDRESS)))

SELECT
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [57]:
print(select(USER).join(ADDRESS))

SELECT "USER"."PK", "USER"."NAME"
FROM "USER" JOIN "ADDRESS" ON "USER"."PK" = "ADDRESS"."FK"

In [58]:
#====================================================

In [66]:
engine.dispose() #날리기

In [67]:
meta.clear() #날리기

In [68]:
engine = create_engine('sqlite:///:memory:', echo=True) #새로 만들기

In [62]:
#예제 보면서 해볼거임. 피피티 p.105, 144 . 곡추천. 곡정렬하는 시스템...

In [69]:
#총 4개의 테이블 만들거임
#테이블 객체를 메타에 바인딩할거임
#아티스트
Table('T_A', meta, 
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False)
     )
#앨범
Table('T_B', meta, 
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK', None, ForeignKey('T_A.PK'))
     )
#장르
Table('T_C', meta, 
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False)
     )
#곡
Table('T_D', meta, 
     Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('FK1', Integer, ForeignKey('T_B.PK'), nullable=False),
      Column('FK2', Integer, nullable=False)
     )

Table('T_D', MetaData(), Column('PK', Integer(), table=<T_D>, primary_key=True, nullable=False), Column('NAME', Text(), table=<T_D>, nullable=False), Column('FK1', Integer(), ForeignKey('T_B.PK'), table=<T_D>, nullable=False), Column('FK2', Integer(), table=<T_D>, nullable=False), schema=None)

In [70]:
len(meta.tables)

4

In [71]:
meta.create_all(engine)

2023-09-06 10:45:27,085 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 10:45:27,088 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_A")
2023-09-06 10:45:27,090 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,092 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_A")
2023-09-06 10:45:27,093 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,094 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_B")
2023-09-06 10:45:27,095 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,097 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_B")
2023-09-06 10:45:27,100 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,101 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_C")
2023-09-06 10:45:27,101 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,101 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_C")
2023-09-06 10:45:27,105 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,107 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_D")
2023-09-06 10:45:27,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,108 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_D")
2023-09-06 10:45:27,108 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 10:45:27,108 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_A" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:45:27,116 INFO sqlalchemy.engine.Engine [no key 0.00109s] ()
2023-09-06 10:45:27,117 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_C" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-09-06 10:45:27,117 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2023-09-06 10:45:27,117 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_B" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "T_A" ("PK")
)


2023-09-06 10:45:27,117 INFO sqlalchemy.engine.Engine [no key 0.00180s] ()
2023-09-06 10:45:27,124 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_D" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK1" INTEGER NOT NULL,
	"FK2" INTEGER NOT NULL,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK1") REFERENCES "T_B" ("PK")
)


2023-09-06 10:45:27,124 INFO sqlalchemy.engine.Engine [no key 0.00126s] ()
2023-09-06 10:45:27,124 INFO sqlalchemy.engine.Engine COMMIT

In [72]:
con = engine.connect()

In [80]:
for name in ['가수1', '가수2', '가수3', '가수4']:
    con.execute(meta.tables['T_A'].insert().values(NAME =name))
    # INSERT INTO T_A (NAME) VALUES (:name) 이랑 같은 거임

2023-09-06 10:55:29,182 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:55:29,182 INFO sqlalchemy.engine.Engine [generated in 0.00148s] ('가수1',)
2023-09-06 10:55:29,182 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:55:29,190 INFO sqlalchemy.engine.Engine [cached since 0.005364s ago] ('가수2',)
2023-09-06 10:55:29,191 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:55:29,192 INFO sqlalchemy.engine.Engine [cached since 0.008561s ago] ('가수3',)
2023-09-06 10:55:29,192 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?)
2023-09-06 10:55:29,192 INFO sqlalchemy.engine.Engine [cached since 0.01231s ago] ('가수4',)

In [74]:
A= meta.tables['T_A']
B= meta.tables['T_B']
C= meta.tables['T_C']
D= meta.tables['T_D']

In [81]:
# key = '수1'
for key in ['1', '2','3','4']:
    for name in ['앨범1', '앨범2']:
        fk = con.execute(select(A.c.PK).where(
            A.c.NAME.like('%'+key))).fetchone()[0]
        
        
        con.execute(B.insert().values(
            NAME = f'가수{key}_{name}', FK= fk))
        # INSERT INTO T_B(NAEM, FK) VALUES (:name, :fk)

2023-09-06 10:55:33,336 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,336 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%1',)
2023-09-06 10:55:33,344 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,346 INFO sqlalchemy.engine.Engine [generated in 0.00136s] ('가수1_앨범1', 1)
2023-09-06 10:55:33,349 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,350 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%1',)
2023-09-06 10:55:33,352 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,353 INFO sqlalchemy.engine.Engine [cached since 0.008005s ago] ('가수1_앨범2', 1)
2023-09-06 10:55:33,354 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,354 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%2',)
2023-09-06 10:55:33,357 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,357 INFO sqlalchemy.engine.Engine [cached since 0.01356s ago] ('가수2_앨범1', 2)
2023-09-06 10:55:33,360 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,361 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%2',)
2023-09-06 10:55:33,363 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,363 INFO sqlalchemy.engine.Engine [cached since 0.01999s ago] ('가수2_앨범2', 2)
2023-09-06 10:55:33,363 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,368 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%3',)
2023-09-06 10:55:33,368 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,368 INFO sqlalchemy.engine.Engine [cached since 0.0274s ago] ('가수3_앨범1', 3)
2023-09-06 10:55:33,368 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,376 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%3',)
2023-09-06 10:55:33,377 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,377 INFO sqlalchemy.engine.Engine [cached since 0.03285s ago] ('가수3_앨범2', 3)
2023-09-06 10:55:33,377 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,377 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%4',)
2023-09-06 10:55:33,377 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,384 INFO sqlalchemy.engine.Engine [cached since 0.03886s ago] ('가수4_앨범1', 4)
2023-09-06 10:55:33,384 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 10:55:33,384 INFO sqlalchemy.engine.Engine [cached since 500s ago] ('%4',)
2023-09-06 10:55:33,384 INFO sqlalchemy.engine.Engine INSERT INTO "T_B" ("NAME", "FK") VALUES (?, ?)
2023-09-06 10:55:33,384 INFO sqlalchemy.engine.Engine [cached since 0.04528s ago] ('가수4_앨범2', 4)

In [79]:
for name in ['장르1', '장르2', '장르3', '장르4']:
    con.execute(meta.tables['T_C'].insert().values(NAME =name))

2023-09-06 10:54:54,368 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:54,370 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ('장르1',)
2023-09-06 10:54:54,373 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:54,374 INFO sqlalchemy.engine.Engine [cached since 0.005896s ago] ('장르2',)
2023-09-06 10:54:54,375 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:54,377 INFO sqlalchemy.engine.Engine [cached since 0.008974s ago] ('장르3',)
2023-09-06 10:54:54,379 INFO sqlalchemy.engine.Engine INSERT INTO "T_C" ("NAME") VALUES (?)
2023-09-06 10:54:54,380 INFO sqlalchemy.engine.Engine [cached since 0.01131s ago] ('장르4',)

In [82]:
con.execute(select(A.c.NAME, B.c.NAME).join(B)).fetchall() #잘 들어갔는지 확인하는 코드

2023-09-06 10:56:24,891 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
2023-09-06 10:56:24,891 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()

[('가수1', '가수1_앨범1'),
 ('가수1', '가수1_앨범2'),
 ('가수2', '가수2_앨범1'),
 ('가수2', '가수2_앨범2'),
 ('가수3', '가수3_앨범1'),
 ('가수3', '가수3_앨범2'),
 ('가수4', '가수4_앨범1'),
 ('가수4', '가수4_앨범2')]

In [87]:
#function 하나 보고가자

In [88]:
func #function generator 이다.

In [86]:
#앨범가져오기 pk값
for row in con.execute(select(B.c.PK)).fetchall():
    # 1,2,3,4,5,,... 들어있음 
    
    for key in ['1', '2','3','4']:
        for name in ['노래1', '노래2', '노래3', '노래4']:
            fk = con.execute(select(A.c.PK).where(
                A.c.NAME.like('%'+key))).fetchone()[0]
            
            
            con.execute(D.insert().values(
                NAME = f'{row[0]}앨범_장르{key}_{name}',
                FK1= row[0], FK2=fk))
            # INSERT INTO T_D(NAEM, FK1, FK2) 
            # VALUES (:name, :row[0], fk)

2023-09-06 11:01:35,732 INFO sqlalchemy.engine.Engine SELECT "T_B"."PK"
FROM "T_B"
2023-09-06 11:01:35,735 INFO sqlalchemy.engine.Engine [generated in 0.00293s] ()
2023-09-06 11:01:35,737 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,740 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%1',)
2023-09-06 11:01:35,743 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,745 INFO sqlalchemy.engine.Engine [generated in 0.00173s] ('1앨범_장르1_노래1', 1, 1)
2023-09-06 11:01:35,747 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,747 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%1',)
2023-09-06 11:01:35,750 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,751 INFO sqlalchemy.engine.Engine [cached since 0.008133s ago] ('1앨범_장르1_노래2', 1, 1)
2023-09-06 11:01:35,754 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,754 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%1',)
2023-09-06 11:01:35,754 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,754 INFO sqlalchemy.engine.Engine [cached since 0.01725s ago] ('1앨범_장르1_노래3', 1, 1)
2023-09-06 11:01:35,762 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,762 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%1',)
2023-09-06 11:01:35,762 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,762 INFO sqlalchemy.engine.Engine [cached since 0.02488s ago] ('1앨범_장르1_노래4', 1, 1)
2023-09-06 11:01:35,770 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,770 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%2',)
2023-09-06 11:01:35,770 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,778 INFO sqlalchemy.engine.Engine [cached since 0.03451s ago] ('1앨범_장르2_노래1', 1, 2)
2023-09-06 11:01:35,778 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,778 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%2',)
2023-09-06 11:01:35,778 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,786 INFO sqlalchemy.engine.Engine [cached since 0.04337s ago] ('1앨범_장르2_노래2', 1, 2)
2023-09-06 11:01:35,789 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,789 INFO sqlalchemy.engine.Engine [cached since 862.4s ago] ('%2',)
2023-09-06 11:01:35,794 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,794 INFO sqlalchemy.engine.Engine [cached since 0.05477s ago] ('1앨범_장르2_노래3', 1, 2)
2023-09-06 11:01:35,794 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,802 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%2',)
2023-09-06 11:01:35,802 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,802 INFO sqlalchemy.engine.Engine [cached since 0.06397s ago] ('1앨범_장르2_노래4', 1, 2)
2023-09-06 11:01:35,810 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,810 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%3',)
2023-09-06 11:01:35,810 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,810 INFO sqlalchemy.engine.Engine [cached since 0.0729s ago] ('1앨범_장르3_노래1', 1, 3)
2023-09-06 11:01:35,818 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,818 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%3',)
2023-09-06 11:01:35,818 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,818 INFO sqlalchemy.engine.Engine [cached since 0.08136s ago] ('1앨범_장르3_노래2', 1, 3)
2023-09-06 11:01:35,826 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,826 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%3',)
2023-09-06 11:01:35,826 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,826 INFO sqlalchemy.engine.Engine [cached since 0.0889s ago] ('1앨범_장르3_노래3', 1, 3)
2023-09-06 11:01:35,834 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,834 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%3',)
2023-09-06 11:01:35,834 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,834 INFO sqlalchemy.engine.Engine [cached since 0.09625s ago] ('1앨범_장르3_노래4', 1, 3)
2023-09-06 11:01:35,834 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,842 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%4',)
2023-09-06 11:01:35,842 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,842 INFO sqlalchemy.engine.Engine [cached since 0.104s ago] ('1앨범_장르4_노래1', 1, 4)
2023-09-06 11:01:35,842 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,851 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%4',)
2023-09-06 11:01:35,851 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,851 INFO sqlalchemy.engine.Engine [cached since 0.1119s ago] ('1앨범_장르4_노래2', 1, 4)
2023-09-06 11:01:35,851 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,859 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%4',)
2023-09-06 11:01:35,859 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,859 INFO sqlalchemy.engine.Engine [cached since 0.1197s ago] ('1앨범_장르4_노래3', 1, 4)
2023-09-06 11:01:35,859 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,859 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%4',)
2023-09-06 11:01:35,867 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,867 INFO sqlalchemy.engine.Engine [cached since 0.1272s ago] ('1앨범_장르4_노래4', 1, 4)
2023-09-06 11:01:35,872 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,875 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%1',)
2023-09-06 11:01:35,875 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,875 INFO sqlalchemy.engine.Engine [cached since 0.1356s ago] ('2앨범_장르1_노래1', 2, 1)
2023-09-06 11:01:35,875 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,883 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%1',)
2023-09-06 11:01:35,884 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,884 INFO sqlalchemy.engine.Engine [cached since 0.1446s ago] ('2앨범_장르1_노래2', 2, 1)
2023-09-06 11:01:35,884 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,891 INFO sqlalchemy.engine.Engine [cached since 862.5s ago] ('%1',)
2023-09-06 11:01:35,894 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,894 INFO sqlalchemy.engine.Engine [cached since 0.1533s ago] ('2앨범_장르1_노래3', 2, 1)
2023-09-06 11:01:35,894 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,900 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%1',)
2023-09-06 11:01:35,901 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,901 INFO sqlalchemy.engine.Engine [cached since 0.1593s ago] ('2앨범_장르1_노래4', 2, 1)
2023-09-06 11:01:35,901 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,901 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%2',)
2023-09-06 11:01:35,908 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,910 INFO sqlalchemy.engine.Engine [cached since 0.1684s ago] ('2앨범_장르2_노래1', 2, 2)
2023-09-06 11:01:35,910 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,910 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%2',)
2023-09-06 11:01:35,916 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,916 INFO sqlalchemy.engine.Engine [cached since 0.1747s ago] ('2앨범_장르2_노래2', 2, 2)
2023-09-06 11:01:35,916 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,916 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%2',)
2023-09-06 11:01:35,924 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,924 INFO sqlalchemy.engine.Engine [cached since 0.1836s ago] ('2앨범_장르2_노래3', 2, 2)
2023-09-06 11:01:35,924 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,924 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%2',)
2023-09-06 11:01:35,932 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,932 INFO sqlalchemy.engine.Engine [cached since 0.1904s ago] ('2앨범_장르2_노래4', 2, 2)
2023-09-06 11:01:35,932 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,932 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%3',)
2023-09-06 11:01:35,932 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,940 INFO sqlalchemy.engine.Engine [cached since 0.1979s ago] ('2앨범_장르3_노래1', 2, 3)
2023-09-06 11:01:35,940 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,940 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%3',)
2023-09-06 11:01:35,940 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,948 INFO sqlalchemy.engine.Engine [cached since 0.2052s ago] ('2앨범_장르3_노래2', 2, 3)
2023-09-06 11:01:35,948 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,948 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%3',)
2023-09-06 11:01:35,948 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,948 INFO sqlalchemy.engine.Engine [cached since 0.2125s ago] ('2앨범_장르3_노래3', 2, 3)
2023-09-06 11:01:35,957 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,957 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%3',)
2023-09-06 11:01:35,957 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,957 INFO sqlalchemy.engine.Engine [cached since 0.2184s ago] ('2앨범_장르3_노래4', 2, 3)
2023-09-06 11:01:35,957 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,964 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%4',)
2023-09-06 11:01:35,966 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,966 INFO sqlalchemy.engine.Engine [cached since 0.2248s ago] ('2앨범_장르4_노래1', 2, 4)
2023-09-06 11:01:35,966 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,966 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%4',)
2023-09-06 11:01:35,973 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,973 INFO sqlalchemy.engine.Engine [cached since 0.2317s ago] ('2앨범_장르4_노래2', 2, 4)
2023-09-06 11:01:35,973 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,973 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%4',)
2023-09-06 11:01:35,981 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,981 INFO sqlalchemy.engine.Engine [cached since 0.2402s ago] ('2앨범_장르4_노래3', 2, 4)
2023-09-06 11:01:35,981 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,981 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%4',)
2023-09-06 11:01:35,989 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,989 INFO sqlalchemy.engine.Engine [cached since 0.2484s ago] ('2앨범_장르4_노래4', 2, 4)
2023-09-06 11:01:35,989 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,989 INFO sqlalchemy.engine.Engine [cached since 862.6s ago] ('%1',)
2023-09-06 11:01:35,997 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:35,997 INFO sqlalchemy.engine.Engine [cached since 0.2561s ago] ('3앨범_장르1_노래1', 3, 1)
2023-09-06 11:01:35,997 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:35,997 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%1',)
2023-09-06 11:01:36,005 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,005 INFO sqlalchemy.engine.Engine [cached since 0.2635s ago] ('3앨범_장르1_노래2', 3, 1)
2023-09-06 11:01:36,005 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,010 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%1',)
2023-09-06 11:01:36,012 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,013 INFO sqlalchemy.engine.Engine [cached since 0.2704s ago] ('3앨범_장르1_노래3', 3, 1)
2023-09-06 11:01:36,013 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,013 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%1',)
2023-09-06 11:01:36,021 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,021 INFO sqlalchemy.engine.Engine [cached since 0.2809s ago] ('3앨범_장르1_노래4', 3, 1)
2023-09-06 11:01:36,021 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,021 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%2',)
2023-09-06 11:01:36,029 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,029 INFO sqlalchemy.engine.Engine [cached since 0.288s ago] ('3앨범_장르2_노래1', 3, 2)
2023-09-06 11:01:36,029 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,029 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%2',)
2023-09-06 11:01:36,037 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,037 INFO sqlalchemy.engine.Engine [cached since 0.2962s ago] ('3앨범_장르2_노래2', 3, 2)
2023-09-06 11:01:36,037 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,037 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%2',)
2023-09-06 11:01:36,037 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,045 INFO sqlalchemy.engine.Engine [cached since 0.3024s ago] ('3앨범_장르2_노래3', 3, 2)
2023-09-06 11:01:36,045 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,045 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%2',)
2023-09-06 11:01:36,045 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,053 INFO sqlalchemy.engine.Engine [cached since 0.3102s ago] ('3앨범_장르2_노래4', 3, 2)
2023-09-06 11:01:36,053 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,053 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%3',)
2023-09-06 11:01:36,053 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,053 INFO sqlalchemy.engine.Engine [cached since 0.3172s ago] ('3앨범_장르3_노래1', 3, 3)
2023-09-06 11:01:36,063 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,063 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%3',)
2023-09-06 11:01:36,063 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,063 INFO sqlalchemy.engine.Engine [cached since 0.3253s ago] ('3앨범_장르3_노래2', 3, 3)
2023-09-06 11:01:36,070 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,070 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%3',)
2023-09-06 11:01:36,070 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,070 INFO sqlalchemy.engine.Engine [cached since 0.3339s ago] ('3앨범_장르3_노래3', 3, 3)
2023-09-06 11:01:36,078 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,078 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%3',)
2023-09-06 11:01:36,086 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,086 INFO sqlalchemy.engine.Engine [cached since 0.3435s ago] ('3앨범_장르3_노래4', 3, 3)
2023-09-06 11:01:36,086 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,086 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%4',)
2023-09-06 11:01:36,086 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,095 INFO sqlalchemy.engine.Engine [cached since 0.3517s ago] ('3앨범_장르4_노래1', 3, 4)
2023-09-06 11:01:36,095 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,095 INFO sqlalchemy.engine.Engine [cached since 862.7s ago] ('%4',)
2023-09-06 11:01:36,095 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,102 INFO sqlalchemy.engine.Engine [cached since 0.36s ago] ('3앨범_장르4_노래2', 3, 4)
2023-09-06 11:01:36,102 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,102 INFO sqlalchemy.engine.Engine [cached since 862.8s ago] ('%4',)
2023-09-06 11:01:36,102 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,110 INFO sqlalchemy.engine.Engine [cached since 0.3686s ago] ('3앨범_장르4_노래3', 3, 4)
2023-09-06 11:01:36,110 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK"
FROM "T_A"
WHERE "T_A"."NAME" LIKE ?
2023-09-06 11:01:36,110 INFO sqlalchemy.engine.Engine [cached since 862.8s ago] ('%4',)
2023-09-06 11:01:36,110 INFO sqlalchemy.engine.Engine INSERT INTO "T_D" ("NAME", "FK1", "FK2") VALUES (?, ?, ?)
2023-09-06 11:01:36,118 INFO sqlalchemy.engine.Engine [cached since 0.3759s ago] ('3앨범_장르4_노래4', 3, 4)

In [92]:
con.execute(select(func.CURRENT_TIMESTAMP())).fetchall()

2023-09-06 11:05:08,745 INFO sqlalchemy.engine.Engine SELECT CURRENT_TIMESTAMP AS current_timestamp_1
2023-09-06 11:05:08,751 INFO sqlalchemy.engine.Engine [generated in 0.00233s] ()

[(datetime.datetime(2023, 9, 6, 2, 5, 8),)]

In [93]:
con.execute(select(func.UPPER('abcd'))).fetchall()

2023-09-06 11:05:33,987 INFO sqlalchemy.engine.Engine SELECT UPPER(?) AS "UPPER_1"
2023-09-06 11:05:33,991 INFO sqlalchemy.engine.Engine [generated in 0.00156s] ('abcd',)

[('ABCD',)]

In [94]:
#이렇게 함수를 만들어 쓸 수 있다. 
#카운트도 할 수 있다.

In [95]:
con.execute(select(func.count(A.c.PK))).fetchall() #몇개의 로우가 있는지 세어준거다.

2023-09-06 11:06:02,106 INFO sqlalchemy.engine.Engine SELECT count("T_A"."PK") AS count_1
FROM "T_A"
2023-09-06 11:06:02,107 INFO sqlalchemy.engine.Engine [generated in 0.00228s] ()

[(4,)]

In [96]:
con.execute(select(func.sum(A.c.PK))).fetchall()  #합개를 볼 수 있다.  이렇게 필요한 파라미터가 있으면 함수 형태에 넣으면 된다.

2023-09-06 11:06:19,658 INFO sqlalchemy.engine.Engine SELECT sum("T_A"."PK") AS sum_1
FROM "T_A"
2023-09-06 11:06:19,661 INFO sqlalchemy.engine.Engine [generated in 0.00178s] ()

[(10,)]

In [97]:
#각 테이블의 몇개의 로우가 있는지 알 수 있다.

In [114]:
con.execute(select(func.count(A.c.PK))).fetchall(), \
con.execute(select(func.count(B.c.PK))).fetchall(), \
con.execute(select(func.count(C.c.PK))).fetchall(), \
con.execute(select(func.count(D.c.PK))).fetchall() 
#([(4,)], [(8,)], [(4,)], [(128,)]) 각 문장마다의 결과가 나옴. 

# con.execute(select(func.count(A.c.PK))).fetchall(),
# con.execute(select(func.count(B.c.PK))).fetchall(), 
# con.execute(select(func.count(C.c.PK))).fetchall(), 
# con.execute(select(func.count(D.c.PK))).fetchall() 
#-> [(128,)] 이런 결과가 나옴..

2023-09-06 11:24:31,760 INFO sqlalchemy.engine.Engine SELECT count("T_A"."PK") AS count_1
FROM "T_A"
2023-09-06 11:24:31,767 INFO sqlalchemy.engine.Engine [cached since 1110s ago] ()
2023-09-06 11:24:31,771 INFO sqlalchemy.engine.Engine SELECT count("T_B"."PK") AS count_1
FROM "T_B"
2023-09-06 11:24:31,772 INFO sqlalchemy.engine.Engine [cached since 1006s ago] ()
2023-09-06 11:24:31,774 INFO sqlalchemy.engine.Engine SELECT count("T_C"."PK") AS count_1
FROM "T_C"
2023-09-06 11:24:31,775 INFO sqlalchemy.engine.Engine [cached since 985.6s ago] ()
2023-09-06 11:24:31,777 INFO sqlalchemy.engine.Engine SELECT count("T_D"."PK") AS count_1
FROM "T_D"
2023-09-06 11:24:31,779 INFO sqlalchemy.engine.Engine [cached since 985.6s ago] ()

([(4,)], [(8,)], [(4,)], [(128,)])

In [100]:
#이제 조인해서 가져오는게 문제임. 이제 조인을 하건데, 우선을 1개만 가져올거임.

In [101]:
print(select(A.c.NAME, B.c.NAME).where(A.c.PK == B.c.FK)) #어떻게 만들어졌는지 보면 => 크로스 조인임

SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A", "T_B"
WHERE "T_A"."PK" = "T_B"."FK"

In [103]:
print(select(A.c.NAME, B.c.NAME).select_from(A.join(B)))

SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"

In [116]:
#가수-앨범
print(select(A.c.NAME, B.c.NAME).join(B))
print("위와 아래의 구문의 결과가 같음.")
print(select(A.c.NAME, B.c.NAME).join(B, A.c.PK==B.c.FK))

SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"
위와 아래의 구문의 결과가 같음.
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK"

In [105]:
#위의 세 구문이 다 같아야 한다. 같은지 보자.

In [106]:
#낼부터 orm 을 제대로 쓰기 시작할건데, 코어 단에서 어느 부분을 고쳐야하는지를 다 봐야 해서 이러한 과정을 하는거임.

In [108]:
#가수를 누르면 몇개의 앨범이 있는지 알 수 있는거임.

In [110]:
con.execute(select(A.c.NAME, func.count(B.c.NAME)).\
           select_from(A.join(B)).\
           group_by(A.c.NAME)).fetchall()  #group_by를 쓰면 중복사항 제거해서 집계해서 보여준다!

2023-09-06 11:14:32,239 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", count("T_B"."NAME") AS count_1
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" GROUP BY "T_A"."NAME"
2023-09-06 11:14:32,239 INFO sqlalchemy.engine.Engine [generated in 0.00187s] ()

[('가수1', 2), ('가수2', 2), ('가수3', 2), ('가수4', 2)]

In [107]:

con.execute(select(A.c.NAME, B.c.NAME).\
           select_from(A.join(B)).\
           order_by(B.c.PK)).fetchall()

2023-09-06 11:13:08,477 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" ORDER BY "T_B"."PK"
2023-09-06 11:13:08,477 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()

[('가수1', '가수1_앨범1'),
 ('가수1', '가수1_앨범2'),
 ('가수2', '가수2_앨범1'),
 ('가수2', '가수2_앨범2'),
 ('가수3', '가수3_앨범1'),
 ('가수3', '가수3_앨범2'),
 ('가수4', '가수4_앨범1'),
 ('가수4', '가수4_앨범2')]

In [117]:
con.execute(select(A.c.NAME, func.count(B.c.NAME)).\
           select_from(A.join(B)).\
           group_by(A.c.PK)).fetchall()

2023-09-06 11:42:24,872 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", count("T_B"."NAME") AS count_1
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" GROUP BY "T_A"."PK"
2023-09-06 11:42:24,872 INFO sqlalchemy.engine.Engine [generated in 0.00167s] ()

[('가수1', 2), ('가수2', 2), ('가수3', 2), ('가수4', 2)]

In [120]:
#가수-앨범-노래
print(select(A.c.NAME, B.c.NAME, D.c.NAME).\
     select_from(A.join(B.join(D)))
     )
#위에것은 PK=FK REFERENCE 가정하에
#join(T_A, join(T_B, T_D)) 라는 뜻임


# print(select(A.c.NAME, B.c.NAME, D.c.NAME).\
#       select_from(D.join(B.join(A)))
#      )
#근데 이렇게 쓰지 말래. 위에 구문 쓰래.

SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_D" JOIN ("T_B" JOIN "T_A" ON "T_A"."PK" = "T_B"."FK") ON "T_B"."PK" = "T_D"."FK1"

In [121]:
con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).\
     select_from(A.join(B.join(D)))).fetchall()

2023-09-06 11:46:09,275 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
2023-09-06 11:46:09,275 INFO sqlalchemy.engine.Engine [generated in 0.00179s] ()

[('가수1', '가수1_앨범1', '1앨범_장르1_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르1_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르2_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르3_노래4'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래1'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래2'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래3'),
 ('가수1', '가수1_앨범1', '1앨범_장르4_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르2_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르3_노래4'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래2'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래3'),
 ('가수1', '가수1_앨범2', '2앨범_장르4_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르2_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르3_노래4'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래2'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래3'),
 ('가수2', '가수2_앨범1', '3앨범_장르4_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르2_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르3_노래4'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래2'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래3'),
 ('가수2', '가수2_앨범2', '4앨범_장르4_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르2_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르3_노래4'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래2'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래3'),
 ('가수3', '가수3_앨범1', '5앨범_장르4_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르2_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르3_노래4'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래2'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래3'),
 ('가수3', '가수3_앨범2', '6앨범_장르4_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르2_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르3_노래4'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래2'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래3'),
 ('가수4', '가수4_앨범1', '7앨범_장르4_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르2_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르3_노래4'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래2'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래3'),
 ('가수4', '가수4_앨범2', '8앨범_장르4_노래4')]

In [122]:
con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).\
     select_from(A.join(B.join(D))).\
    group_by(B.c.PK))\
    .fetchall()

2023-09-06 11:47:14,869 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK" GROUP BY "T_B"."PK"
2023-09-06 11:47:14,873 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ()

[('가수1', '가수1_앨범1', '1앨범_장르1_노래1'),
 ('가수1', '가수1_앨범2', '2앨범_장르1_노래1'),
 ('가수2', '가수2_앨범1', '3앨범_장르1_노래1'),
 ('가수2', '가수2_앨범2', '4앨범_장르1_노래1'),
 ('가수3', '가수3_앨범1', '5앨범_장르1_노래1'),
 ('가수3', '가수3_앨범2', '6앨범_장르1_노래1'),
 ('가수4', '가수4_앨범1', '7앨범_장르1_노래1'),
 ('가수4', '가수4_앨범2', '8앨범_장르1_노래1')]

In [124]:
con.execute(select(A.c.NAME, B.c.NAME, D.c.NAME).\
        select_from(A.join(B.join(D))).\
        where(A.c.NAME.like('%3')).\ #조건을 추가해봄... 
        group_by(B.c.PK))\
    .fetchall()

2023-09-06 11:48:29,654 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_D"."NAME" AS "NAME_2"
FROM "T_A" JOIN ("T_B" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1") ON "T_A"."PK" = "T_B"."FK"
WHERE "T_A"."NAME" LIKE ? GROUP BY "T_B"."PK"
2023-09-06 11:48:29,655 INFO sqlalchemy.engine.Engine [cached since 4.96s ago] ('%3',)

[('가수3', '가수3_앨범1', '5앨범_장르1_노래1'), ('가수3', '가수3_앨범2', '6앨범_장르1_노래1')]

In [125]:
#아이튠즈 같은데서 결과를 다채롭게 정렬하는 방식으로 
#이걸 자바스크립트로 만들면 클라의 컴터 메모리 부담이 커지고 
#이걸 뒷단에서 하면 서버에서 부담하는거임.

#누구에게 일을 시킬지 구별을 할 줄 알아야 한다.

In [126]:
#extend_existing 은 기존에 객체가 있을때 확장해서 덮어씌워서 수정하는 용도로 쓸 수 있음. 내가 잘못만든거 수정가능
#근데 DB에 기록되는 (바인딩)거랑은 별개임. DB 수정은 AlTER 이런걸 써줘야해. 
#근데 상위개념으로 더 가면 물리적인 개념으로 알아서 자동적으로 수정해주는 기능이 있다고 함.

In [128]:
#execute many 쓰는 개념을 배워볼거임. {} 로 표현

In [129]:
#executemany 처럼 동작하는거임
print(insert(A).values([{'NAME':'아무개1'}, {'NAME':'아무개2'}]))

INSERT INTO "T_A" ("NAME") VALUES (:NAME_m0), (:NAME_m1)

In [130]:
con.execute(insert(A).values([{'NAME':'아무개1'}, {'NAME':'아무개2'}]))

2023-09-06 11:54:09,167 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" ("NAME") VALUES (?), (?)
2023-09-06 11:54:09,175 INFO sqlalchemy.engine.Engine [no key 0.00168s] ('아무개1', '아무개2')

In [131]:
con.execute(select(A)).fetchall()

2023-09-06 11:54:55,904 INFO sqlalchemy.engine.Engine SELECT "T_A"."PK", "T_A"."NAME"
FROM "T_A"
2023-09-06 11:54:55,904 INFO sqlalchemy.engine.Engine [generated in 0.00189s] ()

[(1, '가수1'), (2, '가수2'), (3, '가수3'), (4, '가수4'), (5, '아무개1'), (6, '아무개2')]

In [134]:
# 가수 - 앨범 - 장르 - 노래
print(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
     select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK2)))

SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_C"."NAME" AS "NAME_2", "T_D"."NAME" AS "NAME_3"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1" JOIN "T_C" ON "T_C"."PK" = "T_D"."FK2"

In [135]:
con.execute(select(A.c.NAME, B.c.NAME, C.c.NAME, D.c.NAME).\
     select_from(A.join(B).join(D).join(C, C.c.PK==D.c.FK2))).fetchall()

2023-09-06 11:58:38,748 INFO sqlalchemy.engine.Engine SELECT "T_A"."NAME", "T_B"."NAME" AS "NAME_1", "T_C"."NAME" AS "NAME_2", "T_D"."NAME" AS "NAME_3"
FROM "T_A" JOIN "T_B" ON "T_A"."PK" = "T_B"."FK" JOIN "T_D" ON "T_B"."PK" = "T_D"."FK1" JOIN "T_C" ON "T_C"."PK" = "T_D"."FK2"
2023-09-06 11:58:38,749 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()

[('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래1'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래2'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래3'),
 ('가수1', '가수1_앨범1', '장르1', '1앨범_장르1_노래4'),
 ('가수1', '가수1_앨범1', '장르2', '1앨범_장르2_노래1'),
 ('가수1', '가수1_앨범1', '장르2', '1앨범_장르2_노래2'),
 ('가수1', '가수1_앨범1', '장르2', '1앨범_장르2_노래3'),
 ('가수1', '가수1_앨범1', '장르2', '1앨범_장르2_노래4'),
 ('가수1', '가수1_앨범1', '장르3', '1앨범_장르3_노래1'),
 ('가수1', '가수1_앨범1', '장르3', '1앨범_장르3_노래2'),
 ('가수1', '가수1_앨범1', '장르3', '1앨범_장르3_노래3'),
 ('가수1', '가수1_앨범1', '장르3', '1앨범_장르3_노래4'),
 ('가수1', '가수1_앨범1', '장르4', '1앨범_장르4_노래1'),
 ('가수1', '가수1_앨범1', '장르4', '1앨범_장르4_노래2'),
 ('가수1', '가수1_앨범1', '장르4', '1앨범_장르4_노래3'),
 ('가수1', '가수1_앨범1', '장르4', '1앨범_장르4_노래4'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래1'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래2'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래3'),
 ('가수1', '가수1_앨범2', '장르1', '2앨범_장르1_노래4'),
 ('가수1', '가수1_앨범2', '장르2', '2앨범_장르2_노래1'),
 ('가수1', '가수1_앨범2', '장르2', '2앨범_장르2_노래2'),
 ('가수1', '가수1_앨범2', '장르2', '2앨범_장르2_노래3'),
 ('가수1', '가수1_앨범2', '장르2', '2앨범_장르2_노래4'),
 ('가수1', '가수1_앨범2', '장르3', '2앨범_장르3_노래1'),
 ('가수1', '가수1_앨범2', '장르3', '2앨범_장르3_노래2'),
 ('가수1', '가수1_앨범2', '장르3', '2앨범_장르3_노래3'),
 ('가수1', '가수1_앨범2', '장르3', '2앨범_장르3_노래4'),
 ('가수1', '가수1_앨범2', '장르4', '2앨범_장르4_노래1'),
 ('가수1', '가수1_앨범2', '장르4', '2앨범_장르4_노래2'),
 ('가수1', '가수1_앨범2', '장르4', '2앨범_장르4_노래3'),
 ('가수1', '가수1_앨범2', '장르4', '2앨범_장르4_노래4'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래1'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래2'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래3'),
 ('가수2', '가수2_앨범1', '장르1', '3앨범_장르1_노래4'),
 ('가수2', '가수2_앨범1', '장르2', '3앨범_장르2_노래1'),
 ('가수2', '가수2_앨범1', '장르2', '3앨범_장르2_노래2'),
 ('가수2', '가수2_앨범1', '장르2', '3앨범_장르2_노래3'),
 ('가수2', '가수2_앨범1', '장르2', '3앨범_장르2_노래4'),
 ('가수2', '가수2_앨범1', '장르3', '3앨범_장르3_노래1'),
 ('가수2', '가수2_앨범1', '장르3', '3앨범_장르3_노래2'),
 ('가수2', '가수2_앨범1', '장르3', '3앨범_장르3_노래3'),
 ('가수2', '가수2_앨범1', '장르3', '3앨범_장르3_노래4'),
 ('가수2', '가수2_앨범1', '장르4', '3앨범_장르4_노래1'),
 ('가수2', '가수2_앨범1', '장르4', '3앨범_장르4_노래2'),
 ('가수2', '가수2_앨범1', '장르4', '3앨범_장르4_노래3'),
 ('가수2', '가수2_앨범1', '장르4', '3앨범_장르4_노래4'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래1'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래2'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래3'),
 ('가수2', '가수2_앨범2', '장르1', '4앨범_장르1_노래4'),
 ('가수2', '가수2_앨범2', '장르2', '4앨범_장르2_노래1'),
 ('가수2', '가수2_앨범2', '장르2', '4앨범_장르2_노래2'),
 ('가수2', '가수2_앨범2', '장르2', '4앨범_장르2_노래3'),
 ('가수2', '가수2_앨범2', '장르2', '4앨범_장르2_노래4'),
 ('가수2', '가수2_앨범2', '장르3', '4앨범_장르3_노래1'),
 ('가수2', '가수2_앨범2', '장르3', '4앨범_장르3_노래2'),
 ('가수2', '가수2_앨범2', '장르3', '4앨범_장르3_노래3'),
 ('가수2', '가수2_앨범2', '장르3', '4앨범_장르3_노래4'),
 ('가수2', '가수2_앨범2', '장르4', '4앨범_장르4_노래1'),
 ('가수2', '가수2_앨범2', '장르4', '4앨범_장르4_노래2'),
 ('가수2', '가수2_앨범2', '장르4', '4앨범_장르4_노래3'),
 ('가수2', '가수2_앨범2', '장르4', '4앨범_장르4_노래4'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래1'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래2'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래3'),
 ('가수3', '가수3_앨범1', '장르1', '5앨범_장르1_노래4'),
 ('가수3', '가수3_앨범1', '장르2', '5앨범_장르2_노래1'),
 ('가수3', '가수3_앨범1', '장르2', '5앨범_장르2_노래2'),
 ('가수3', '가수3_앨범1', '장르2', '5앨범_장르2_노래3'),
 ('가수3', '가수3_앨범1', '장르2', '5앨범_장르2_노래4'),
 ('가수3', '가수3_앨범1', '장르3', '5앨범_장르3_노래1'),
 ('가수3', '가수3_앨범1', '장르3', '5앨범_장르3_노래2'),
 ('가수3', '가수3_앨범1', '장르3', '5앨범_장르3_노래3'),
 ('가수3', '가수3_앨범1', '장르3', '5앨범_장르3_노래4'),
 ('가수3', '가수3_앨범1', '장르4', '5앨범_장르4_노래1'),
 ('가수3', '가수3_앨범1', '장르4', '5앨범_장르4_노래2'),
 ('가수3', '가수3_앨범1', '장르4', '5앨범_장르4_노래3'),
 ('가수3', '가수3_앨범1', '장르4', '5앨범_장르4_노래4'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래1'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래2'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래3'),
 ('가수3', '가수3_앨범2', '장르1', '6앨범_장르1_노래4'),
 ('가수3', '가수3_앨범2', '장르2', '6앨범_장르2_노래1'),
 ('가수3', '가수3_앨범2', '장르2', '6앨범_장르2_노래2'),
 ('가수3', '가수3_앨범2', '장르2', '6앨범_장르2_노래3'),
 ('가수3', '가수3_앨범2', '장르2', '6앨범_장르2_노래4'),
 ('가수3', '가수3_앨범2', '장르3', '6앨범_장르3_노래1'),
 ('가수3', '가수3_앨범2', '장르3', '6앨범_장르3_노래2'),
 ('가수3', '가수3_앨범2', '장르3', '6앨범_장르3_노래3'),
 ('가수3', '가수3_앨범2', '장르3', '6앨범_장르3_노래4'),
 ('가수3', '가수3_앨범2', '장르4', '6앨범_장르4_노래1'),
 ('가수3', '가수3_앨범2', '장르4', '6앨범_장르4_노래2'),
 ('가수3', '가수3_앨범2', '장르4', '6앨범_장르4_노래3'),
 ('가수3', '가수3_앨범2', '장르4', '6앨범_장르4_노래4'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래1'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래2'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래3'),
 ('가수4', '가수4_앨범1', '장르1', '7앨범_장르1_노래4'),
 ('가수4', '가수4_앨범1', '장르2', '7앨범_장르2_노래1'),
 ('가수4', '가수4_앨범1', '장르2', '7앨범_장르2_노래2'),
 ('가수4', '가수4_앨범1', '장르2', '7앨범_장르2_노래3'),
 ('가수4', '가수4_앨범1', '장르2', '7앨범_장르2_노래4'),
 ('가수4', '가수4_앨범1', '장르3', '7앨범_장르3_노래1'),
 ('가수4', '가수4_앨범1', '장르3', '7앨범_장르3_노래2'),
 ('가수4', '가수4_앨범1', '장르3', '7앨범_장르3_노래3'),
 ('가수4', '가수4_앨범1', '장르3', '7앨범_장르3_노래4'),
 ('가수4', '가수4_앨범1', '장르4', '7앨범_장르4_노래1'),
 ('가수4', '가수4_앨범1', '장르4', '7앨범_장르4_노래2'),
 ('가수4', '가수4_앨범1', '장르4', '7앨범_장르4_노래3'),
 ('가수4', '가수4_앨범1', '장르4', '7앨범_장르4_노래4'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래1'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래2'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래3'),
 ('가수4', '가수4_앨범2', '장르1', '8앨범_장르1_노래4'),
 ('가수4', '가수4_앨범2', '장르2', '8앨범_장르2_노래1'),
 ('가수4', '가수4_앨범2', '장르2', '8앨범_장르2_노래2'),
 ('가수4', '가수4_앨범2', '장르2', '8앨범_장르2_노래3'),
 ('가수4', '가수4_앨범2', '장르2', '8앨범_장르2_노래4'),
 ('가수4', '가수4_앨범2', '장르3', '8앨범_장르3_노래1'),
 ('가수4', '가수4_앨범2', '장르3', '8앨범_장르3_노래2'),
 ('가수4', '가수4_앨범2', '장르3', '8앨범_장르3_노래3'),
 ('가수4', '가수4_앨범2', '장르3', '8앨범_장르3_노래4'),
 ('가수4', '가수4_앨범2', '장르4', '8앨범_장르4_노래1'),
 ('가수4', '가수4_앨범2', '장르4', '8앨범_장르4_노래2'),
 ('가수4', '가수4_앨범2', '장르4', '8앨범_장르4_노래3'),
 ('가수4', '가수4_앨범2', '장르4', '8앨범_장르4_노래4')]

In [136]:
con.execute(select(D)).fetchall()

2023-09-06 11:59:17,675 INFO sqlalchemy.engine.Engine SELECT "T_D"."PK", "T_D"."NAME", "T_D"."FK1", "T_D"."FK2"
FROM "T_D"
2023-09-06 11:59:17,675 INFO sqlalchemy.engine.Engine [generated in 0.00163s] ()

[(1, '1앨범_장르1_노래1', 1, 1),
 (2, '1앨범_장르1_노래2', 1, 1),
 (3, '1앨범_장르1_노래3', 1, 1),
 (4, '1앨범_장르1_노래4', 1, 1),
 (5, '1앨범_장르2_노래1', 1, 2),
 (6, '1앨범_장르2_노래2', 1, 2),
 (7, '1앨범_장르2_노래3', 1, 2),
 (8, '1앨범_장르2_노래4', 1, 2),
 (9, '1앨범_장르3_노래1', 1, 3),
 (10, '1앨범_장르3_노래2', 1, 3),
 (11, '1앨범_장르3_노래3', 1, 3),
 (12, '1앨범_장르3_노래4', 1, 3),
 (13, '1앨범_장르4_노래1', 1, 4),
 (14, '1앨범_장르4_노래2', 1, 4),
 (15, '1앨범_장르4_노래3', 1, 4),
 (16, '1앨범_장르4_노래4', 1, 4),
 (17, '2앨범_장르1_노래1', 2, 1),
 (18, '2앨범_장르1_노래2', 2, 1),
 (19, '2앨범_장르1_노래3', 2, 1),
 (20, '2앨범_장르1_노래4', 2, 1),
 (21, '2앨범_장르2_노래1', 2, 2),
 (22, '2앨범_장르2_노래2', 2, 2),
 (23, '2앨범_장르2_노래3', 2, 2),
 (24, '2앨범_장르2_노래4', 2, 2),
 (25, '2앨범_장르3_노래1', 2, 3),
 (26, '2앨범_장르3_노래2', 2, 3),
 (27, '2앨범_장르3_노래3', 2, 3),
 (28, '2앨범_장르3_노래4', 2, 3),
 (29, '2앨범_장르4_노래1', 2, 4),
 (30, '2앨범_장르4_노래2', 2, 4),
 (31, '2앨범_장르4_노래3', 2, 4),
 (32, '2앨범_장르4_노래4', 2, 4),
 (33, '3앨범_장르1_노래1', 3, 1),
 (34, '3앨범_장르1_노래2', 3, 1),
 (35, '3앨범_장르1_노래3', 3, 1),
 (36, '3앨범_장르1_노래4', 3, 1),
 (37, '3앨범_장르2_노래1', 3, 2),
 (38, '3앨범_장르2_노래2', 3, 2),
 (39, '3앨범_장르2_노래3', 3, 2),
 (40, '3앨범_장르2_노래4', 3, 2),
 (41, '3앨범_장르3_노래1', 3, 3),
 (42, '3앨범_장르3_노래2', 3, 3),
 (43, '3앨범_장르3_노래3', 3, 3),
 (44, '3앨범_장르3_노래4', 3, 3),
 (45, '3앨범_장르4_노래1', 3, 4),
 (46, '3앨범_장르4_노래2', 3, 4),
 (47, '3앨범_장르4_노래3', 3, 4),
 (48, '3앨범_장르4_노래4', 3, 4),
 (49, '4앨범_장르1_노래1', 4, 1),
 (50, '4앨범_장르1_노래2', 4, 1),
 (51, '4앨범_장르1_노래3', 4, 1),
 (52, '4앨범_장르1_노래4', 4, 1),
 (53, '4앨범_장르2_노래1', 4, 2),
 (54, '4앨범_장르2_노래2', 4, 2),
 (55, '4앨범_장르2_노래3', 4, 2),
 (56, '4앨범_장르2_노래4', 4, 2),
 (57, '4앨범_장르3_노래1', 4, 3),
 (58, '4앨범_장르3_노래2', 4, 3),
 (59, '4앨범_장르3_노래3', 4, 3),
 (60, '4앨범_장르3_노래4', 4, 3),
 (61, '4앨범_장르4_노래1', 4, 4),
 (62, '4앨범_장르4_노래2', 4, 4),
 (63, '4앨범_장르4_노래3', 4, 4),
 (64, '4앨범_장르4_노래4', 4, 4),
 (65, '5앨범_장르1_노래1', 5, 1),
 (66, '5앨범_장르1_노래2', 5, 1),
 (67, '5앨범_장르1_노래3', 5, 1),
 (68, '5앨범_장르1_노래4', 5, 1),
 (69, '5앨범_장르2_노래1', 5, 2),
 (70, '5앨범_장르2_노래2', 5, 2),
 (71, '5앨범_장르2_노래3', 5, 2),
 (72, '5앨범_장르2_노래4', 5, 2),
 (73, '5앨범_장르3_노래1', 5, 3),
 (74, '5앨범_장르3_노래2', 5, 3),
 (75, '5앨범_장르3_노래3', 5, 3),
 (76, '5앨범_장르3_노래4', 5, 3),
 (77, '5앨범_장르4_노래1', 5, 4),
 (78, '5앨범_장르4_노래2', 5, 4),
 (79, '5앨범_장르4_노래3', 5, 4),
 (80, '5앨범_장르4_노래4', 5, 4),
 (81, '6앨범_장르1_노래1', 6, 1),
 (82, '6앨범_장르1_노래2', 6, 1),
 (83, '6앨범_장르1_노래3', 6, 1),
 (84, '6앨범_장르1_노래4', 6, 1),
 (85, '6앨범_장르2_노래1', 6, 2),
 (86, '6앨범_장르2_노래2', 6, 2),
 (87, '6앨범_장르2_노래3', 6, 2),
 (88, '6앨범_장르2_노래4', 6, 2),
 (89, '6앨범_장르3_노래1', 6, 3),
 (90, '6앨범_장르3_노래2', 6, 3),
 (91, '6앨범_장르3_노래3', 6, 3),
 (92, '6앨범_장르3_노래4', 6, 3),
 (93, '6앨범_장르4_노래1', 6, 4),
 (94, '6앨범_장르4_노래2', 6, 4),
 (95, '6앨범_장르4_노래3', 6, 4),
 (96, '6앨범_장르4_노래4', 6, 4),
 (97, '7앨범_장르1_노래1', 7, 1),
 (98, '7앨범_장르1_노래2', 7, 1),
 (99, '7앨범_장르1_노래3', 7, 1),
 (100, '7앨범_장르1_노래4', 7, 1),
 (101, '7앨범_장르2_노래1', 7, 2),
 (102, '7앨범_장르2_노래2', 7, 2),
 (103, '7앨범_장르2_노래3', 7, 2),
 (104, '7앨범_장르2_노래4', 7, 2),
 (105, '7앨범_장르3_노래1', 7, 3),
 (106, '7앨범_장르3_노래2', 7, 3),
 (107, '7앨범_장르3_노래3', 7, 3),
 (108, '7앨범_장르3_노래4', 7, 3),
 (109, '7앨범_장르4_노래1', 7, 4),
 (110, '7앨범_장르4_노래2', 7, 4),
 (111, '7앨범_장르4_노래3', 7, 4),
 (112, '7앨범_장르4_노래4', 7, 4),
 (113, '8앨범_장르1_노래1', 8, 1),
 (114, '8앨범_장르1_노래2', 8, 1),
 (115, '8앨범_장르1_노래3', 8, 1),
 (116, '8앨범_장르1_노래4', 8, 1),
 (117, '8앨범_장르2_노래1', 8, 2),
 (118, '8앨범_장르2_노래2', 8, 2),
 (119, '8앨범_장르2_노래3', 8, 2),
 (120, '8앨범_장르2_노래4', 8, 2),
 (121, '8앨범_장르3_노래1', 8, 3),
 (122, '8앨범_장르3_노래2', 8, 3),
 (123, '8앨범_장르3_노래3', 8, 3),
 (124, '8앨범_장르3_노래4', 8, 3),
 (125, '8앨범_장르4_노래1', 8, 4),
 (126, '8앨범_장르4_노래2', 8, 4),
 (127, '8앨범_장르4_노래3', 8, 4),
 (128, '8앨범_장르4_노래4', 8, 4)]

In [137]:
#이게 우리가 보는 플레이리스트임...

In [138]:
#어제 했던 과정 다시 해보면서 뭐가 더 편한지 비교해볼거임.

In [157]:
meta.drop_all(engine)
meta.clear()

2023-09-06 12:19:30,372 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-09-06 12:19:30,378 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POST")
2023-09-06 12:19:30,379 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,381 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POST")
2023-09-06 12:19:30,382 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,384 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("POSTTAG")
2023-09-06 12:19:30,385 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,387 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("POSTTAG")
2023-09-06 12:19:30,387 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,389 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("HASHTAG")
2023-09-06 12:19:30,390 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,390 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("HASHTAG")
2023-09-06 12:19:30,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-09-06 12:19:30,394 INFO sqlalchemy.engine.Engine COMMIT

TypeError: MetaData.remove() missing 1 required positional argument: 'table'

In [158]:
meta.remove(A)
meta.remove(B)
meta.remove(C)
meta.remove(D)

In [159]:
Table('POST', meta,
      Column('PK', Integer, primary_key=True),
      Column('CONTENT', Text),
      extend_existing=True
     )

Table('POST', MetaData(), Column('PK', Integer(), table=<POST>, primary_key=True, nullable=False), Column('CONTENT', Text(), table=<POST>), schema=None)

In [160]:
Table('HASHTAG', meta,
      Column('PK', Integer, primary_key=True),
      Column('NAME', Text, nullable=False),
      Column('COUNT', Integer,server_default='0'), #default 는 어제한것처럼 초기화할 수 있다..? 
     extend_existing=True
    )

Table('HASHTAG', MetaData(), Column('PK', Integer(), table=<HASHTAG>, primary_key=True, nullable=False), Column('NAME', Text(), table=<HASHTAG>, nullable=False), Column('COUNT', Integer(), table=<HASHTAG>, server_default=DefaultClause('0', for_update=False)), schema=None)

In [161]:
Table('POSTTAG', meta,
      Column('PFK', Integer, primary_key=True),
      Column('HFK', Integer, ForeignKey('HASHTAG.PK')),
     extend_existing=True
     )

Table('POSTTAG', MetaData(), Column('PFK', Integer(), table=<POSTTAG>, primary_key=True, nullable=False), Column('HFK', Integer(), ForeignKey('HASHTAG.PK'), table=<POSTTAG>), schema=None)

In [155]:
con.execute(B.delete())

2023-09-06 12:13:35,673 INFO sqlalchemy.engine.Engine DELETE FROM "T_B"
2023-09-06 12:13:35,673 INFO sqlalchemy.engine.Engine [cached since 176.2s ago] ()

OperationalError: (sqlite3.OperationalError) no such table: T_B
[SQL: DELETE FROM "T_B"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [156]:
B.select().where(B.c.NAME='ORM')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2643434433.py, line 1)

In [ ]:
1. POST에 본문 insert
2. insert 된 PK
3. 위에 코드 이용해서 해시태그마다 PK 값 가져오기
4. POSTTAG 테이블에다가 POST.PK, HASHTAG.PK를 inser해야함
5. HASHTAG COUNT +1, 단 PK=HASHTAG.PK