In [1]:
import sqlite3

In [14]:
con = sqlite3.connect(':memory:')

In [15]:
cur = con.cursor()

In [16]:
type(cur)

sqlite3.Cursor

In [17]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [8]:
con.close()

In [9]:
sqlite3.version_info

(2, 6, 0)

In [10]:
sqlite3.version

'2.6.0'

In [11]:
sqlite3.sqlite_version_info

(3, 41, 2)

In [12]:
sqlite3.sqlite_version

'3.41.2'

In [13]:
sqlite3.sqlite3

AttributeError: module 'sqlite3' has no attribute 'sqlite3'

In [18]:
cur.execute('SQL')

OperationalError: near "SQL": syntax error

In [19]:
cur.execute('''
    CREATE TABLE CITY (
        CNO INTEGER PRIMARY KEY,
        CNAME TEXT
    )
''')

In [20]:
cur.execute('''
    INSERT INTO CITY(CNO, CNAME)
    VALUES(1, "NewYork");
''')

In [21]:
cur.execute('''
    INSERT INTO CITY
    VALUES (2, "Busan")
''')

In [39]:
cur.execute('''
    INSERT INTO CITY (CNAME)
    VALUES ("Tokyo")
''')

In [47]:
cur.execute('''
    SELECT * FROM CITY
''')

In [50]:
cur.fetchall()

[]

In [32]:
cur.fetchone()

(1, 'NewYork')

In [49]:
cur.execute('''
    INSERT INTO CITY
    VALUES(NULL, 'Moscow')
''')

In [46]:
cur.fetchone()

In [55]:
cur.execute('SELECT * FROM CITY')

In [56]:
cur.fetchall()

[(1, 'NewYork'),
 (2, 'Busan'),
 (3, 'Tokyo'),
 (4, 'Moscow'),
 (5, 'Moscow'),
 (6, 'Moscow'),
 (7, 'Tokyo'),
 (8, 'Moscow'),
 (9, 'Moscow'),
 (10, 'Paris')]

In [54]:
cur.execute('INSERT INTO CITY VALUES(NULL, "Paris")')

In [57]:
cur.execute('''
    CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME CHAR(5) NOT NULL
    )
''')

In [59]:
cur.execute('INSERT INTO TEMP VALUES(1, "ABCDEFG")')

In [60]:
cur.execute('SELECT * FROM TEMP')

In [61]:
cur.fetchall()

[(1, 'ABCDEFG')]

In [62]:
cur.execute('''
    CREATE TABLE SUPPLIER(
        SNO INTEGER PRIMARY KEY,
        SNAME TEXT NOT NULL DEFAULT "NONAME",
        CNO INTEGER NOT NULL
    )
''')

In [63]:
sname = 'Smith'
cno = 1

cur.execute('''
    INSERT INTO SUPPLIER VALUES(NULL, ?,?);
''', (sname, cno))

In [64]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

[(1, 'Smith', 1)]

In [70]:
data = (('Jones', 2), ('Adams',1), ('Blake', 3))

cur.executemany('''
    INSERT INTO SUPPLIER VALUES(NULL, ?,?);
''', data)

In [71]:
cur.execute('SELECT * FROM SUPPLIER')
cur.fetchall()

[(1, 'Smith', 1),
 (2, 'Smith', 1),
 (3, 'Jones', 2),
 (4, 'Adams', 1),
 (5, 'Blake', 3)]

In [72]:
len(data)

3

In [73]:
cur.execute('''
    CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY AUTOINCREMENT,
        PNAME TEXT
    )
''')

In [74]:
cur.execute('''
    INSERT INTO PART
    VALUES(:pno, :pname)
''', {'pno':1, 'pname':'Screw', 'asdf':'asdf'})

# :pno, : pname 앞에 : 이거 뭐지....

In [75]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw')]

In [77]:
data = [{'pname': 'Desk'},
        {'pname': 'Chair'},
        {'pname': 'Bed'}]

cur.executemany('''
    INSERT INTO PART
    VALUES(NULL, :pname)
''', data)

In [78]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'),
 (2, 'Desk'),
 (3, 'Chair'),
 (4, 'Desk'),
 (5, 'Chair'),
 (6, 'Bed')]

In [84]:
data = ('Stool')

cur.executemany('''
    INSERT INTO PART VALUES(NULL, ?);
''', data)

In [85]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'),
 (2, 'Desk'),
 (3, 'Chair'),
 (4, 'Desk'),
 (5, 'Chair'),
 (6, 'Bed'),
 (7, 'S'),
 (8, 't'),
 (9, 'o'),
 (10, 'o'),
 (11, 'l')]

In [90]:
data = (('Stool'))

cur.executescript('''
    INSERT INTO PART VALUES (data)
''')

OperationalError: near "data": syntax error

In [91]:
cur.execute('''
    CREATE TABLE SELLS(
        SNO INTEGER NOT NULL,
        PNO INTEGER NOT NULL,
        PRICE INTEGER NOT NULL
    )
''')

In [92]:
key1 = 'Screw'
key2 = 'Smith'
sno = 0
pno = 0

cur.execute('''
    SELECT PNO FROM PART
    WHERE PNAME=?
''', [key1])

In [93]:
result = cur.fetchone()

In [95]:
result

(1,)

In [96]:
if result:
    pno = result[0]

In [97]:
pno

1

In [98]:
cur.execute('''
    SELECT SNO FROM SUPPLIER
    WHERE SNAME=?
''', [key2])

In [99]:
rst = cur.fetchone()

In [100]:
rst

(1,)

In [101]:
if rst:
    sno = rst[0]

In [102]:
sno

1

In [103]:
pno, sno

(1, 1)

In [109]:
data = ['Smith', 'Screw', 10]

cur.execute('''
    INSERT INTO SELLS
    VALUES(
        (SELECT SNO FROM SUPPLIER WHERE SNAME=? LIMIT 0, 1),
        (SELECT PNO FROM PART WHERE PNAME=? LIMIT 0, 1),
    ?
    )
''', data)

In [110]:
cur.execute('''
   SELECT * FROM SELLS 
''')
cur.fetchall()

[(1, 1, 10)]

In [106]:
cur.execute('''
    SELECT PNAME FROM PART
''')

In [107]:
cur.fetchall()

[('Screw',),
 ('Desk',),
 ('Chair',),
 ('Desk',),
 ('Chair',),
 ('Bed',),
 ('S',),
 ('t',),
 ('o',),
 ('o',),
 ('l',)]

In [111]:
CITY = dict()

cur.execute('SELECT * FROM CITY')
cur.fetchall()

[(1, 'NewYork'),
 (2, 'Busan'),
 (3, 'Tokyo'),
 (4, 'Moscow'),
 (5, 'Moscow'),
 (6, 'Moscow'),
 (7, 'Tokyo'),
 (8, 'Moscow'),
 (9, 'Moscow'),
 (10, 'Paris')]

In [112]:
CITY

{}

In [113]:
cur.execute('SELECT * FROM CITY')
for row in cur.fetchall():
    CITY[row[1]] = row[0]

In [114]:
CITY

{'NewYork': 1, 'Busan': 2, 'Tokyo': 7, 'Moscow': 9, 'Paris': 10}

In [115]:
CITY['Tokyo']

7

In [116]:
data = [(1,2,8),
        (2,4,38),
        (3,1,11),
        (3,3,6),
        (4,2,7),
        (4,3,4),
        (4,4,45)]

In [117]:
type(data)

list

In [118]:
cur.executemany('INSERT INTO SELLS VALUES(?,?,?)', data)

In [125]:
cur.execute('''
    SELECT C.CNAME, COUNT(*)
    FROM SUPPLIER AS S, CITY AS C
    WHERE S.CNO = C.CNO
    GROUP BY C.CNAME
    ORDER BY C.CNAME, S.SNAME ASC
''')
cur.fetchall()

[('Busan', 1), ('NewYork', 3), ('Tokyo', 1)]

In [124]:
cur.execute('''
    SELECT *
    FROM SUPPLIER AS S, CITY AS C
    WHERE S.CNO = C.CNO
    GROUP BY C.CNAME
    ORDER BY C.CNAME, S.SNAME ASC
''')
cur.fetchall()

[(3, 'Jones', 2, 2, 'Busan'),
 (1, 'Smith', 1, 1, 'NewYork'),
 (5, 'Blake', 3, 3, 'Tokyo')]

In [126]:
#컬럼명이 뭔지 테이블 형식으로 보지를 못하니 너무 답답해 미치겠군~~~!!!

In [127]:
cur.execute('''
    SELECT PNAME, COUNT(*), SUM(PRICE)
    FROM SELLS SE, SUPPLIER SU, PART PA
    WHERE SE.SNO = SU.SNO AND SE.PNO = PA.PNO
    GROUP BY SU.SNO
    ORDER BY PRICE DESC
''')
cur.fetchall()

[('Desk', 1, 38), ('Screw', 2, 17), ('Screw', 2, 18), ('Desk', 3, 56)]

In [128]:
# 조인은 언제나 헷갈린다..

In [129]:
cur.execute('''
    SELECT SNAME, COUNT(*), SUM(PRICE)
    FROM SELLS, SUPPLIER, PART
    WHERE SELLS.SNO = SUPPLIER.SNO AND SELLS.PNO = PART.PNO
    GROUP BY SUPPLIER.SNO
    ORDER BY PRICE DESC
''')
cur.fetchall()

[('Smith', 1, 38), ('Jones', 2, 17), ('Smith', 2, 18), ('Adams', 3, 56)]

In [130]:
con.close() #닫는 습관~~~

In [131]:
con = sqlite3.connect('1027.db')
cur = con.cursor()

In [132]:
cur

In [133]:
con

In [134]:
cur.execute('''
    CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    )
''')

In [135]:
cur.executescript('''
    INSERT INTO PART VALUES(1, 'Screw');
    INSERT INTO PART (PNAME) VALUES ('Bolt');
    INSERT INTO PART VALUES (NULL, 'Nut');
    INSERT INTO PART VALUES (4, 'Cam')
''')

In [136]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam')]

In [137]:
cur.execute('INSERT INTO PART VALUES(NULL, "Part1")')

In [138]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam'), (5, 'Part1')]

In [139]:
con.commit()

In [140]:
con.close()

In [141]:
con = sqlite3.connect('1027.db')
cur = con.cursor()

In [142]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam'), (5, 'Part1')]

In [143]:
cur.execute('''
    UPDATE PART
    SET PNAME = '푸바오'
''')

In [144]:
con.total_changes

5

In [145]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, '푸바오'), (2, '푸바오'), (3, '푸바오'), (4, '푸바오'), (5, '푸바오')]

In [146]:
con.close()

In [147]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam'), (5, 'Part1')]

In [148]:
cur.execute('INSERT INTO PART VALUES(NULL, "메에롱")')

In [149]:
cur.lastrowid
#이건 뭘까. 맹신금지...?

6

In [150]:
cur.execute('SELECT * FROM PART')
cur.fetchall()

[(1, 'Screw'), (2, 'Bolt'), (3, 'Nut'), (4, 'Cam'), (5, 'Part1'), (6, '메에롱')]

In [151]:
cur.execute('INSERT INTO PART VALUES(NULL, "아이바오")')
cur.lastrowid

7

In [155]:
cur.execute('SELECT * FROM PART')
cur.fetchall()[1:5]

[(2, 'Bolt'), (3, 'Nut'), (4, 'Cam'), (5, 'Part1')]

In [156]:
con.commit()

In [157]:
cur.executescript('''
    DROP TABLE IF EXISTS TEMP;
    CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
    
    INSERT INTO TEMP VALUES(1, '테스트1')
    INSERT INTO TEMP VALUES(2, '테스트2')
    INSERT INTO TEMP VALUES(3, '테스트3');
''')

OperationalError: near "INSERT": syntax error

In [158]:
cur.executescript('''
    DROP TABLE IF EXISTS TEMP;
    CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
    
    INSERT INTO TEMP VALUES(1, '테스트1');
    INSERT INTO TEMP VALUES(2, '테스트2');
    INSERT INTO TEMP VALUES(3, '테스트3')
''')

In [159]:
for line in con.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    );
INSERT INTO "PART" VALUES(1,'Screw');
INSERT INTO "PART" VALUES(2,'Bolt');
INSERT INTO "PART" VALUES(3,'Nut');
INSERT INTO "PART" VALUES(4,'Cam');
INSERT INTO "PART" VALUES(5,'Part1');
INSERT INTO "PART" VALUES(6,'메에롱');
INSERT INTO "PART" VALUES(7,'아이바오');
CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
INSERT INTO "TEMP" VALUES(1,'테스트1');
INSERT INTO "TEMP" VALUES(2,'테스트2');
INSERT INTO "TEMP" VALUES(3,'테스트3');
COMMIT;

In [160]:
con.close()

In [161]:
#과연 commit 이 어디까지 자동으로 되었을까나

In [162]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '테스트1'), (2, '테스트2'), (3, '테스트3')]

In [163]:
cur.execute('''
    UPDATE TEMP SET NAME = '소금빵'
''')

[]

In [164]:
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '소금빵'), (2, '소금빵'), (3, '소금빵')]

In [165]:
for line in con.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    );
INSERT INTO "PART" VALUES(1,'Screw');
INSERT INTO "PART" VALUES(2,'Bolt');
INSERT INTO "PART" VALUES(3,'Nut');
INSERT INTO "PART" VALUES(4,'Cam');
INSERT INTO "PART" VALUES(5,'Part1');
INSERT INTO "PART" VALUES(6,'메에롱');
INSERT INTO "PART" VALUES(7,'아이바오');
CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
INSERT INTO "TEMP" VALUES(1,'소금빵');
INSERT INTO "TEMP" VALUES(2,'소금빵');
INSERT INTO "TEMP" VALUES(3,'소금빵');
COMMIT;

In [166]:
con.close()

In [167]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '테스트1'), (2, '테스트2'), (3, '테스트3')]

In [169]:
cur.execute('INSERT INTO TEMP VALUES(4, "테스트4")')
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '테스트1'), (2, '테스트2'), (3, '테스트3'), (4, '테스트4')]

In [170]:
con.close()

In [171]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '테스트1'), (2, '테스트2'), (3, '테스트3')]

In [172]:
cur.execute('INSERT INTO TEMP VALUES(4, "테스트4")')

for line in con.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    );
INSERT INTO "PART" VALUES(1,'Screw');
INSERT INTO "PART" VALUES(2,'Bolt');
INSERT INTO "PART" VALUES(3,'Nut');
INSERT INTO "PART" VALUES(4,'Cam');
INSERT INTO "PART" VALUES(5,'Part1');
INSERT INTO "PART" VALUES(6,'메에롱');
INSERT INTO "PART" VALUES(7,'아이바오');
CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
INSERT INTO "TEMP" VALUES(1,'테스트1');
INSERT INTO "TEMP" VALUES(2,'테스트2');
INSERT INTO "TEMP" VALUES(3,'테스트3');
INSERT INTO "TEMP" VALUES(4,'테스트4');
COMMIT;

In [173]:
con.close()

In [174]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '테스트1'), (2, '테스트2'), (3, '테스트3')]

In [175]:
cur.executescript('''
    DROP TABLE IF EXISTS TEST;
    CREATE TABLE TEST(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
    
    UPDATE TEMP SET NAME = '소금빵';
''')

In [176]:
for line in con.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE PART(
        PNO INTEGER PRIMARY KEY,
        PNAME TEXT
    );
INSERT INTO "PART" VALUES(1,'Screw');
INSERT INTO "PART" VALUES(2,'Bolt');
INSERT INTO "PART" VALUES(3,'Nut');
INSERT INTO "PART" VALUES(4,'Cam');
INSERT INTO "PART" VALUES(5,'Part1');
INSERT INTO "PART" VALUES(6,'메에롱');
INSERT INTO "PART" VALUES(7,'아이바오');
CREATE TABLE TEMP(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
INSERT INTO "TEMP" VALUES(1,'소금빵');
INSERT INTO "TEMP" VALUES(2,'소금빵');
INSERT INTO "TEMP" VALUES(3,'소금빵');
CREATE TABLE TEST(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    );
COMMIT;

In [177]:
con.close()

In [178]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEMP')
cur.fetchall()

[(1, '소금빵'), (2, '소금빵'), (3, '소금빵')]

In [180]:
cur.execute('''
    CREATE TABLE TEST2(
        PK INTEGER NOT NULL UNIQUE,
        NAME TEXT NOT NULL
    )
''')

In [181]:
con.close()

In [182]:
con = sqlite3.connect('1027.db')
cur = con.cursor()
cur.execute('SELECT * FROM TEST2')
cur.fetchall()

[]

In [186]:
con.close()

In [187]:
con = sqlite3.connect('sns.db')
cur = con.cursor()

In [188]:
cur.executescript('''
    CREATE TABLE POST(
        PK INTEGER PRIMARY KEY,
        CONTENT TEXT
    );
    CREATE TABLE HASHTAG(
        PK INTEGER PRIMARY KEY,
        COUNT INTEGER DEFAULT 0,
        NAME TEXT
    );
    CREATE TABLE POSTTAG(
        PPK INTEGER NOT NULL,
        HPK INTEGER NOT NULL
    );
''')

In [190]:
data = {'tag':'ORM'}

cur.execute('''
    SELECT COUNT(*) FROM HASHTAG
    WHERE NAME =:tag
''', data)

cur.fetchall()

[(0,)]

In [191]:
cur.execute('''
    SELECT * FROM HASHTAG
    WHERE NAME =:tag
''', data)

cur.fetchall()

[]

In [192]:
#아무것도 없는걸 알 수 있다.

In [194]:
cur.execute('''
    SELECT COUNT(*) FROM HASHTAG
    WHERE NAME =:tag
''', data)

cur.fetchone()[0]

0

In [195]:
cur.execute('''
    SELECT COUNT(*) FROM HASHTAG
    WHERE NAME =:tag
''', data)

if cur.fetchone()[0] == 0:
    cur.execute('''
        INSERT INTO HASHTAG(NAME) VALUES (:tag)
    ''', data)
    con.commit()

In [196]:
cur.execute('''
    SELECT PK
    FROM HASHTAG
    WHERE NAME =:tag
    LIMIT 0,1
''', data)

cur.fetchone()

(1,)

In [197]:
cur.execute('''
    SELECT PK
    FROM HASHTAG
    WHERE NAME =:tag
    LIMIT 0,1
''', data)

cur.fetchone()[0]

1

In [198]:
cur.execute('''
    SELECT PK
    FROM HASHTAG
    WHERE NAME =:tag
    LIMIT 0,1
''', data)

PK = cur.fetchone()[0]
PK

1

In [199]:
data1 = {'content':'본문1', 'tags':['Python']}

cur.execute('INSERT INTO POST(CONTENT) VALUES(:content)', data1)
con.commit()
PPK = cur.lastrowid
cur.execute('SELECT * FROM POST')
cur.fetchall()

[(1, '본문1')]

In [200]:
PPK

1

In [201]:
for tag in data1['tags']:
    data2 = {'tag':tag}
    
    cur.execute('''
        SELECT COUNT(*) FROM HASHTAG
        WHERE NAME =:tag
    ''', data2)
    
    if cur.fetchone()[0] == 0:
        cur.execute('''
            INSERT INTO HASHTAG(NAME) VALUES(:tag)
        ''', data2)
        con.commit()
        
    cur.execute('''
        SELECT PK
        FROM HASHTAG
        WHERE NAME =:tag
        LIMIT 0,1
    ''', data2)
    
    TPK = cur.fetchone()[0]
    
    cur.execute('INSERT INTO POSTTAG VALUES(?,?)', [PPK, TPK])
    cur.execute('''
        UPDATE HASHTAG SET COUNT = COUNT +1
        WHERE PK = ?
    ''', [TPK])
    con.commit()

In [202]:
cur.execute('''
    SELECT * FROM HASHTAG
''')
cur.fetchall()

[(1, 0, 'ORM'), (2, 1, 'Python')]

In [203]:
cur.execute('''
    SELECT * FROM POST
''')
cur.fetchall()

[(1, '본문1')]

In [204]:
cur.execute('''
    SELECT * FROM POSTTAG
''')
cur.fetchall()

[(1, 2)]