In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
tips = sns.load_dataset('tips')

In [4]:
#pandas에서 부족한 부분은 query(SQL)로 보완할 수 있다 => 결국, 판다스로 다 해결할 수있다. 
tips.size

1708

In [5]:
#컬럼명을 패턴을 이용해서 잘 정해놓으면, 정규식을 쓸 수 있다.  
#결국, 컬럼명을 잘 정하는게 첫번째 중요한 스텝이다. 
#두번째, 타입을 바꾸는게 중요하다. 타입에 따라서 기능이 다르기에.
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [6]:
#연습용 데이터 하나 더 가져올거임
mpg = sns.load_dataset('mpg')

In [7]:
mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

In [8]:
#기본적으로 데이터 타입이 64이다. int64, float64, 문자열은 object 라고 한다. 
#category 라는 데이터 셋은 눈에보이기는 문자로 관리하지만, 내부적으로는 문자열도 숫자열도 아니라고 한다. 
#카테고리는 스키마의 기능을 일부 가지고 있는거다. 
#기본적으로, 판다스 데이터 타입은 int64, float64, object, category 이렇게 4가지 쓴다.
#물론, 시계열 제외한거다. int64, float64는 넘파이에서 가져온거고, 오브젝트, 카테고리는 판다스에서 재정의한 데이터타입이다.

In [10]:
# info 가 정말정말 중요하다. 처음시작하자마자 무조건 info를 쓸거다. 여기에 정말 많은 정보가 담겨있다. 
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [11]:
#데이터 바꾸는 법 as / from / 파이썬에서는 문법자체가 없어서 메소드로 바꿔야한다고 한다.
# pandas 에서는 as 형이 있는데, 넘파이에서 갖고 온거다.

In [12]:
import numpy as np

In [13]:
a = np.array([1,2,3,4])

In [14]:
b = np.asfarray(a)

In [15]:
b

array([1., 2., 3., 4.])

In [16]:
a.astype('float64')

array([1., 2., 3., 4.])

In [18]:
tips['size'].astype('int64') #numpy 문법에서 유래된거다.

0      2
1      3
2      3
3      2
4      4
      ..
239    3
240    2
241    2
242    2
243    2
Name: size, Length: 244, dtype: int64

In [19]:
#특히 판다스에서는 데이터타입을 바꿀 경우가 많다.

In [20]:
import inspect

In [21]:
print(inspect.getsource(sns.load_dataset))

def load_dataset(name, cache=True, data_home=None, **kws):
    """Load an example dataset from the online repository (requires internet).

    This function provides quick access to a small number of example datasets
    that are useful for documenting seaborn or generating reproducible examples
    for bug reports. It is not necessary for normal usage.

    Note that some of the datasets have a small amount of preprocessing applied
    to define a proper ordering for categorical variables.

    Use :func:`get_dataset_names` to see a list of available datasets.

    Parameters
    ----------
    name : str
        Name of the dataset (``{name}.csv`` on
        https://github.com/mwaskom/seaborn-data).
    cache : boolean, optional
        If True, try to load from the local cache first, and save to the cache
        if a download is required.
    data_home : string, optional
        The directory in which to cache data; see :func:`get_data_home`.
    kws : keys and values, optional
        Additional keyword arguments are passed to passed through to
        :func:`pandas.read_csv`.

    Returns
    -------
    df : :class:`pandas.DataFrame`
        Tabular data, possibly with some preprocessing applied.

    """
    # A common beginner mistake is to assume that one's personal data needs
    # to be passed through this function to be usable with seaborn.
    # Let's provide a more helpful error than you would otherwise get.
    if isinstance(name, pd.DataFrame):
        err = (
            "This function accepts only strings (the name of an example dataset). "
            "You passed a pandas DataFrame. If you have your own dataset, "
            "it is not necessary to use this function before plotting."
        )
        raise TypeError(err)

    url = f"https://raw.githubusercontent.com/mwaskom/seaborn-data/master/{name}.csv"

    if cache:
        cache_path = os.path.join(get_data_home(data_home), os.path.basename(url))
        if not os.path.exists(cache_path):
            if name not in get_dataset_names():
                raise ValueError(f"'{name}' is not one of the example datasets.")
            urlretrieve(url, cache_path)
        full_path = cache_path
    else:
        full_path = url

    df = pd.read_csv(full_path, **kws)

    if df.iloc[-1].isnull().all():
        df = df.iloc[:-1]

    # Set some columns as a categorical type with ordered levels

    if name == "tips":
        df["day"] = pd.Categorical(df["day"], ["Thur", "Fri", "Sat", "Sun"])
        df["sex"] = pd.Categorical(df["sex"], ["Male", "Female"])
        df["time"] = pd.Categorical(df["time"], ["Lunch", "Dinner"])
        df["smoker"] = pd.Categorical(df["smoker"], ["Yes", "No"])

    elif name == "flights":
        months = df["month"].str[:3]
        df["month"] = pd.Categorical(months, months.unique())

    elif name == "exercise":
        df["time"] = pd.Categorical(df["time"], ["1 min", "15 min", "30 min"])
        df["kind"] = pd.Categorical(df["kind"], ["rest", "walking", "running"])
        df["diet"] = pd.Categorical(df["diet"], ["no fat", "low fat"])

    elif name == "titanic":
        df["class"] = pd.Categorical(df["class"], ["First", "Second", "Third"])
        df["deck"] = pd.Categorical(df["deck"], list("ABCDEFG"))

    elif name == "penguins":
        df["sex"] = df["sex"].str.title()

    elif name == "diamonds":
        df["color"] = pd.Categorical(
            df["color"], ["D", "E", "F", "G", "H", "I", "J"],
        )
        df["clarity"] = pd.Categorical(
            df["clarity"], ["IF", "VVS1", "VVS2", "VS1", "VS2", "SI1", "SI2", "I1"],
        )
        df["cut"] = pd.Categorical(
            df["cut"], ["Ideal", "Premium", "Very Good", "Good", "Fair"],
        )

    elif name == "taxis":
        df["pickup"] = pd.to_datetime(df["pickup"])
        df["dropoff"] = pd.to_datetime(df["dropoff"])

    elif name == "seaice":
        df["Date"] = pd.to_datetime(df["Date"])

    elif name == "dowjones":
        df["Date"] = pd.to_datetime(df["Date"])

    return df

In [22]:
#형변환을 해야지만, 형에 따른 기능변화를 할 수 있다.

In [24]:
mpg.name.str.title() #추가되는 문자열 메소드를 .str 로 쓸 수 있다.

0      Chevrolet Chevelle Malibu
1              Buick Skylark 320
2             Plymouth Satellite
3                  Amc Rebel Sst
4                    Ford Torino
                 ...
393              Ford Mustang Gl
394                    Vw Pickup
395                Dodge Rampage
396                  Ford Ranger
397                   Chevy S-10
Name: name, Length: 398, dtype: object

In [25]:
#극단적으로 최적화하는 도구는 넘파이. 판다스는 쉽게쉽게 쓸 수있다.

In [26]:
#tidy data는 관계형 DB를 통계적으로 해석한것이다.

In [27]:
#Deleting Bad Data

In [28]:
#나쁜 데이터인지 어떻게 아는걸까?

In [30]:
tips.sex.value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [31]:
#남자 여자말고 가능한 모든 경우를 다 보고 싶다면? 
#잘못된 데이터 여부를 아는 첫번째 테그닉은 : 히스토그램 을 그리는건데(각 데이터마다 몇개인지 알수있다), 
#value_counts 를 먼저 하고 히스토그램을 할 수 있다. 
#value_counts 를 모르면

In [33]:
# np.histogram(tips.sex) #TypeError 나옴

In [34]:
np.unique(tips.sex)

array(['Female', 'Male'], dtype=object)

In [35]:
#unique 를 확장시키면?
np.unique(tips.sex, return_counts=True)

(array(['Female', 'Male'], dtype=object), array([ 87, 157], dtype=int64))

In [36]:
#결국, 카테고리 or 문자열 데이터일때 value_counts 로 잘못된 데이터 여부를 알 수 있는 첫번째 방법이다.

In [37]:
#숫자형이 잘못됐는지는 범위를 보면 된다. 
tips.tip.max()

10.0

In [38]:
tips.tip.min()

1.0

In [39]:
#이걸 value_counts 하면 효용성이 떨어짐. 연속된 숫자라서 ... 
tips.tip.value_counts()
#다형성 개념이 여기에 있다...?

tip
2.00    33
3.00    23
4.00    12
5.00    10
2.50    10
        ..
4.34     1
1.56     1
5.20     1
2.60     1
1.75     1
Name: count, Length: 123, dtype: int64

In [40]:
tips.tip.describe() #숫자일때

count    244.000000
mean       2.998279
std        1.383638
min        1.000000
25%        2.000000
50%        2.900000
75%        3.562500
max       10.000000
Name: tip, dtype: float64

In [41]:
tips.sex.describe() #문자일때

count      244
unique       2
top       Male
freq       157
Name: sex, dtype: object

In [ ]:
#데이터 타입에 따라서 결과가 다르다는걸 알 수 있다.

In [42]:
#선생님은 info 부터 -> Top ->Down 으로 보는걸 선호한다고 한다.

In [43]:
#Object 형은 제약조건이 없다. 
#카테고리 형은 이 카테고리에만 지정된 형태로만 들어갈 수 있다. (스키마 개념이 있다는거임)

In [44]:
tips.total_bill.map(lambda x:x/10) #for 문 돌리는거말고 이렇게 해라. 한방에 처리할 수 있는....

0      1.699
1      1.034
2      2.101
3      2.368
4      2.459
       ...
239    2.903
240    2.718
241    2.267
242    1.782
243    1.878
Name: total_bill, Length: 244, dtype: float64

In [45]:
#map 은 전체값을 한번에 변화시킬때 쓰고, reduce 는 전체 값을 하나의 값으로 축약. filter 는 조건으로 보는거.